
<div class="modal fade slide-up disable-scroll" id="modalAddAvatar" tabindex="-1" role="dialog" aria-hidden="false" ng-controller="UserDialogAddAvatarCtrl">
    <div class="modal-dialog">
        <div class="modal-content-wrapper">
        	<div class="modal-content">
        		
				<div class="modal-header clearfix text-left">
					<!-- Для верстки см. документацию к Bootstrap (оформление заголовка хедера модального окна)-->
					<!-- http://getbootstrap.com/javascript/#modals -->
					<!-- http://getbootstrap.com/css/#grid -->
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i></button>
					<h5 class="text-primary ">Загрузка аватара</h5>
				</div>
	            
	            <div class="modal-body">
	            	
	            	<input class="upload" type="file" name="files[]" multiple style="display: none;" />
	            	
					<div 
						class="dropzone" 
						style="height: 300px; background-color: #efefef; cursor: pointer; position: relative;"
						ng-click="onDropzoneClick()">
						<div style="text-align: center; position: absolute; top: 40%; width: 100%;">
							<h4>Перетащите сюда фотографию <p>или кликните в это поле.</p></h4>
						</div>
					</div>
					
					<div class="steps" style="display: none;">
						<div class="stepSelectAvatar" style="display: none;">
							<div class="cropperzone" style="height: 300px; overflow: hidden;">
								<img style="max-width: 100%;">
							</div>
						</div>
						<div class="stepSelectAvatarPreview" style="display: none;">
							<div class="row">
								<div class="col-sm-9">
									<div class="cropperzone" style="height: 300px; overflow: hidden;">
										<img style="max-width: 100%;">
									</div>
								</div>
								<div class="col-sm-3">
									<div class="previewBlock">
										<div class="preview" style="border-radius: 50%; width: 32px; height: 32px; overflow: hidden;"></div>
										<div class="preview" style="border-radius: 50%; width: 50px; height: 50px; overflow: hidden; margin-top: 20px;"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="progress">
						<div class="progress-bar progress-bar-primary" style="width: 0;"></div>
					</div>
						
	            </div>
	            
	            <div class="modal-footer">
	            	<!-- Для верстки см. документацию к Bootstrap (оформление заголовка хедера модального окна)-->
	            	<!-- http://getbootstrap.com/javascript/#modals -->
	            	<!-- http://getbootstrap.com/css/#grid -->
						
					<button
						type="submit" 
						class="btn btn-primary btn-xs btn-small"
						ng-click="onClearButtonClick()">
						Очистить
					</button>
						
					<button
						type="submit" 
						class="btn btn-primary btn-xs btn-small"
						ng-click="onSaveButtonClick()">
						Сохранить и продолжить
					</button>
	            </div>
	            
            </div>
        </div>
    </div>
</div>