
<div class="modal fade slide-right" id="modalGreetIm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width: 496px;">
        <div class="modal-content">
        	
            <div class="modal-header">
            	<!-- Для верстки см. документацию к Bootstrap (оформление заголовка хедера модального окна)-->
            	<!-- http://getbootstrap.com/javascript/#modals -->
            	<!-- http://getbootstrap.com/css/#grid -->
				<h5 class="text-primary ">Восстановление пароля</h5>
            </div>
            
            <div class="modal-body">
            	
				<form id="passwordRestoreForm" name="passwordRestoreForm" class="p-t-15" role="form" novalidate>
					
					<div pg-form-group 
						class="form-group form-group-default" 
						ng-class="{ 'has-error' : passwordRestoreForm.email.$invalid && !passwordRestoreForm.email.$pristine }">
						<label>Адрес почты</label>
						<div class="controls">
							<input  
								required
								type="text" 
								name="email" 
								placeholder="Введите свою почту" 
								class="form-control" 
								ng-model="passwordRestore.email">
						</div>
						<label 
							class="error" 
							for="email" 
							ng-show="passwordRestoreForm.email.$invalid && !passwordRestoreForm.email.$pristine">
							Это поле необходимо заполнить
						</label>
					</div>
					
					<button
						type="submit" 
						class="btn btn-primary btn-cons m-t-10"
						data-dismiss="modal"
						ng-disabled="passwordRestoreForm.$invalid" 
						ng-click="onPasswordRestoreButtonClick(passwordRestore, passwordRestoreForm)">
						Восстановить пароль
					</button>
					
				</form>
            	
            </div>
            
            <div class="modal-footer">
            	<!-- Для верстки см. документацию к Bootstrap (оформление заголовка хедера модального окна)-->
            	<!-- http://getbootstrap.com/javascript/#modals -->
            	<!-- http://getbootstrap.com/css/#grid -->
            </div>
            
        </div>
    </div>
</div>