<!-- START PAGE COVER -->
<div class="container-fluid container-fixed-lg ">
    <ul class="breadcrumb">
        <li>
            <a href="#">Home</a>
        </li>
        <li><a class="active" href="#">Plain template</a>
        </li>
    </ul>
    <!-- END BREADCRUMB -->
    <h3 class="page-title">Home</h3>
</div>
<div class="container-fluid register-container full-height">
    <!-- YOU CAN REMOVE .container-fixed-lg TO DISABLE THE FEATURE WHERE THE CONTENT
         ALIGNS TO THE CENTER WITHOUT STRECTHING UNGLY ON 1800PX(1080P & 4/5K MONITORS) UP WORDS SCREEN -->
    <!-- CONTENT GOES HERE -->


		<!--<div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error': register..$invalid && !register..$pristine }">
			Не хватает функций? Предложи свой вариант!
			<div class=" text-right">
		 	    <button class="btn btn-primary btn-xs " data-target="#" data-toggle="">Применить изменения</button>
			</div> я длпилю это позже, не является важным
		</div>-->

<!-- НАЧАЛО БЛОКА ТАБУЛЯЦИИ -->
    <div class="panel panel-transparent">
        <ul class="nav nav-tabs nav-tabs-simple nav-tabs-right bg-white" id="tab-3" role="tablist" >
            <li class="active"><a href="#tab" data-toggle="tab" pg-tab role="tab">Основное</a>
            </li>
            <li><a href="#tab2" data-toggle="tab2" pg-tab role="tab2">Контакты</a>
            </li>
            <li><a href="#tab3" data-toggle="tab3" pg-tab role="tab3">Three</a>
            </li>
            <li><a href="#tab4" data-toggle="tab4" pg-tab role="tab4">четыре</a>
            </li>
            <li><a href="#tab5" data-toggle="tab5" pg-tab role="tab5">пять</a>
            </li>
            <li><a href="#tab6" data-toggle="tab6" pg-tab role="tab6">шесть</a>
            </li>
        </ul>
     	<div class="tab-content bg-white">
<!-- НАЧАЛО ПЕРВОГО ТАБА -->
				<div class="tab-pane active" id="tab">
                    <div class="row">
                        <!-- первая форма 1 вкладки-->
                        <div class="col-sm-12">
							<div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error': register.fname.$invalid && !register.fname.$pristine }">
                            <label>Твоё имя</label>
                            <input type="email" class="form-control">
    						</div>
    						<label class="error" for="fname" ng-show="register.fname.$invalid && !register.fname.$pristine">У тебя нет имени? Сириусли? -__-</label>
						</div>
						<!-- вторая форма 1 вкладки-->
						<div class="col-sm-12">
							<div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error': register.fname.$invalid && !register.fname.$pristine }">
                            <label>Твоя фамилия</label>
                            <input type="email" class="form-control">
    						</div>
    						<label class="error" for="fname" ng-show="register.fname.$invalid && !register.fname.$pristine">У тебя нет имени? Сириусли? -__-</label>
						</div>
						<!-- 3 форма 1 вкладки-->
                        <div class="col-sm-12">
							<div pg-form-group class="form-group form-group-default form-group-default-select">
                            <label class="">Твой пол</label>
	                            <ui-select ng-model="person.selected" theme="bootstrap">
	                                <ui-select-match placeholder="пол не указан">{{$select.selected.name}}</ui-select-match>
	                                <ui-select-choices group-by="'gender'" repeat="item in people | filter: $select.search">
	                                    <span ng-bind-html="trustAsHtml((item.female | highlight: $select.search))"></span>
	                                    <small ng-bind-html="trustAsHtml((item.male | highlight: $select.search))"></small>
	                                </ui-select-choices>
	                            </ui-select>
                        	</div>
    						<label class="error" for="fname" ng-show="register.fname.$invalid && !register.fname.$pristine">У тебя нет имени? Сириусли? -__-</label>
						</div>
						<!-- 4 форма 1 вкладки-->
						<div class="col-sm-12">
							<div pg-form-group class="form-group form-group-default input-group">
		                            <label>Адрес страницы</label>
		                            <input type="text" name="fname" placeholder="{{authenticated.lastname}}" class="form-control" ng-model="user.fname" required>
		                            <span class="input-group-addon primary">gdetus.io/</span>
            				</div>
    						<label class="error" for="fname" ng-show="register.fname.$invalid && !register.fname.$pristine">У тебя нет имени? Сириусли? -__-</label>
						</div>
						<!-- 5 форма 1 вкладки-->
                        <div class="col-sm-12">
							<div pg-form-group class="form-group form-group-default input-group">
			                        <label>Дата рождения</label>
			                        <input type="email" class="form-control" placeholder="Выбери дату" id="datepicker-component2" ui-jq="datepicker">
			                        <span class="input-group-addon primary"><i class="fa fa-calendar"></i></span>
        						</div>
        						<!-- форма выбора отображения даты рождения -->
        						<div class="radio radio-success">
					                <input type="radio" value="yes" name="optionyes" id="yes">
					                <label for="yes">не показывать дату</label>
					                <input type="radio" checked="checked" value="no" name="optionyes" id="no">
					                <label for="no">показывать день и месяц</label>
					                <input type="radio" value="no" name="optionyes" id="no">
					                <label for="no">показывать</label>
        						</div>
    						<label class="error" for="fname" ng-show="register.fname.$invalid && !register.fname.$pristine">У тебя нет имени? Сириусли? -__-</label>
						</div>
						<!-- 6 форма 1 вкладки-->
						<div class="col-sm-12">
							<div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error': register.fname.$invalid && !register.fname.$pristine }">
                            <label>Родной город</label>
                            <input type="email" class="form-control">
    						</div>
    						<label class="error" for="fname" ng-show="register.fname.$invalid && !register.fname.$pristine">У тебя нет имени? Сириусли? -__-</label>
						</div>
						<!-- 1 форма кнопки применения изменений-->
						<div class="col-sm-12">
						  <div class=" text-right">
	   						<button class="btn btn-primary btn-xs " data-target="#" data-toggle="">Применить изменения</button>
						  </div>
						</div>
					</div>
				</div>
<!-- КОНЕЦ ПЕРВОГО ТАБА -->
<!-- НАЧАЛО ВТОРОГО ТАБА -->
				<div class="tab-pane" id="tab2">
                    <div class="row">
                        <!-- первая форма 2 вкладки-->
                        <div class="col-sm-12">
							<div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error': register.fname.$invalid && !register.fname.$pristine }">
                            <label>Твой родной форма 2</label>
                            <input type="email" class="form-control">
    						</div>
    						<label class="error" for="fname" ng-show="register.fname.$invalid && !register.fname.$pristine">У тебя нет имени? Сириусли? -__-</label>
						</div>
						<!-- вторая форма 2 вкладки-->
						<div class="col-sm-12">
							<div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error': register.fname.$invalid && !register.fname.$pristine }">
                            <label>Твой родной форма 2</label>
                            <input type="email" class="form-control">
    						</div>
    						<label class="error" for="fname" ng-show="register.fname.$invalid && !register.fname.$pristine">У тебя нет имени? Сириусли? -__-</label>
						</div>
						
						<!-- 3 форма 2 вкладки-->
                        <div class="col-sm-12">
							<div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error': register.fname.$invalid && !register.fname.$pristine }">
                            <label>Твой родной форма 2</label>
                            <input type="email" class="form-control">
    						</div>
    						<label class="error" for="fname" ng-show="register.fname.$invalid && !register.fname.$pristine">У тебя нет имени? Сириусли? -__-</label>
						</div>
						<!-- 4 форма 2 вкладки-->
						<div class="col-sm-12">
							<div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error': register.fname.$invalid && !register.fname.$pristine }">
                            <label>Твой родной форма 2</label>
                            <input type="email" class="form-control">
    						</div>
    						<label class="error" for="fname" ng-show="register.fname.$invalid && !register.fname.$pristine">У тебя нет имени? Сириусли? -__-</label>
						</div>
						
						<!-- 5 форма 2 вкладки-->
                        <div class="col-sm-12">
							<div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error': register.fname.$invalid && !register.fname.$pristine }">
                            <label>Твой родной форма 2</label>
                            <input type="email" class="form-control">
    						</div>
    						<label class="error" for="fname" ng-show="register.fname.$invalid && !register.fname.$pristine">У тебя нет имени? Сириусли? -__-</label>
						</div>
						<!-- 6 форма 2 вкладки-->
						<div class="col-sm-12">
							<div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error': register.fname.$invalid && !register.fname.$pristine }">
                            <label>Твой родной форма 2</label>
                            <input type="email" class="form-control">
    						</div>
    						<label class="error" for="fname" ng-show="register.fname.$invalid && !register.fname.$pristine">У тебя нет имени? Сириусли? -__-</label>
						</div>
						<!-- 2 форма кнопки применения изменений-->
						<div class="col-sm-12">
						  <div class=" text-right">
	   						<button class="btn btn-primary btn-xs " data-target="#" data-toggle="">Применить изменения</button>
						  </div>
						</div>
					</div>
				</div>
<!-- КОНЕЦ ВТОРОГО ТАБА -->
<!-- НАЧАЛО ТРЕТЬЕГО ТАБА -->
				<div class="tab-pane" id="tab3">
                    <div class="row">
                        <!-- первая форма 3 вкладки-->
                        <div class="col-sm-12">
							<div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error': register.fname.$invalid && !register.fname.$pristine }">
                            <label>Твой родной форма 3</label>
                            <input type="email" class="form-control">
    						</div>
    						<label class="error" for="fname" ng-show="register.fname.$invalid && !register.fname.$pristine">У тебя нет имени? Сириусли? -__-</label>
						</div>
						<!-- вторая форма 3 вкладки-->
						<div class="col-sm-12">
							<div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error': register.fname.$invalid && !register.fname.$pristine }">
                            <label>Твой родной форма 3</label>
                            <input type="email" class="form-control">
    						</div>
    						<label class="error" for="fname" ng-show="register.fname.$invalid && !register.fname.$pristine">У тебя нет имени? Сириусли? -__-</label>
						</div>
						
						<!-- 3 форма 3 вкладки-->
                        <div class="col-sm-12">
							<div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error': register.fname.$invalid && !register.fname.$pristine }">
                            <label>Твой родной форма 3</label>
                            <input type="email" class="form-control">
    						</div>
    						<label class="error" for="fname" ng-show="register.fname.$invalid && !register.fname.$pristine">У тебя нет имени? Сириусли? -__-</label>
						</div>
						<!-- 4 форма 3 вкладки-->
						<div class="col-sm-12">
							<div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error': register.fname.$invalid && !register.fname.$pristine }">
                            <label>Твой родной форма 3</label>
                            <input type="email" class="form-control">
    						</div>
    						<label class="error" for="fname" ng-show="register.fname.$invalid && !register.fname.$pristine">У тебя нет имени? Сириусли? -__-</label>
						</div>
						
						<!-- 5 форма 3 вкладки-->
                        <div class="col-sm-12">
							<div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error': register.fname.$invalid && !register.fname.$pristine }">
                            <label>Твой родной форма 3</label>
                            <input type="email" class="form-control">
    						</div>
    						<label class="error" for="fname" ng-show="register.fname.$invalid && !register.fname.$pristine">У тебя нет имени? Сириусли? -__-</label>
						</div>
						<!-- 6 форма 3 вкладки-->
						<div class="col-sm-12">
							<div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error': register.fname.$invalid && !register.fname.$pristine }">
                            <label>Твой родной форма 3</label>
                            <input type="email" class="form-control">
    						</div>
    						<label class="error" for="fname" ng-show="register.fname.$invalid && !register.fname.$pristine">У тебя нет имени? Сириусли? -__-</label>
						</div>
						<!-- 3 форма кнопки применения изменений-->
						<div class="col-sm-12">
						  <div class=" text-right">
	   						<button class="btn btn-primary btn-xs " data-target="#" data-toggle="">Применить изменения</button>
						  </div>
						</div>
					</div>
				</div>
<!-- КОНЕЦ ТРЕТЬЕГО ТАБА -->
<!-- НАЧАЛО ЧЕТВЕРТОГО ТАБА -->
				<div class="tab-pane" id="tab4">
                    <div class="row">
                        <!-- первая форма 4 вкладки-->
                        <div class="col-sm-12">
							<div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error': register.fname.$invalid && !register.fname.$pristine }">
                            <label>Твой родной форма 5</label>
                            <input type="email" class="form-control">
    						</div>
    						<label class="error" for="fname" ng-show="register.fname.$invalid && !register.fname.$pristine">У тебя нет имени? Сириусли? -__-</label>
						</div>
						<!-- вторая форма 4 вкладки-->
						<div class="col-sm-12">
							<div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error': register.fname.$invalid && !register.fname.$pristine }">
                            <label>Твой родной форма 4</label>
                            <input type="email" class="form-control">
    						</div>
    						<label class="error" for="fname" ng-show="register.fname.$invalid && !register.fname.$pristine">У тебя нет имени? Сириусли? -__-</label>
						</div>
						
						<!-- 3 форма 4 вкладки-->
                        <div class="col-sm-12">
							<div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error': register.fname.$invalid && !register.fname.$pristine }">
                            <label>Твой родной форма 4</label>
                            <input type="email" class="form-control">
    						</div>
    						<label class="error" for="fname" ng-show="register.fname.$invalid && !register.fname.$pristine">У тебя нет имени? Сириусли? -__-</label>
						</div>
						<!-- 4 форма 4 вкладки-->
						<div class="col-sm-12">
							<div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error': register.fname.$invalid && !register.fname.$pristine }">
                            <label>Твой родной форма 4</label>
                            <input type="email" class="form-control">
    						</div>
    						<label class="error" for="fname" ng-show="register.fname.$invalid && !register.fname.$pristine">У тебя нет имени? Сириусли? -__-</label>
						</div>
						
						<!-- 5 форма 4 вкладки-->
                        <div class="col-sm-12">
							<div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error': register.fname.$invalid && !register.fname.$pristine }">
                            <label>Твой родной форма 4</label>
                            <input type="email" class="form-control">
    						</div>
    						<label class="error" for="fname" ng-show="register.fname.$invalid && !register.fname.$pristine">У тебя нет имени? Сириусли? -__-</label>
						</div>
						<!-- 6 форма 5 вкладки-->
						<div class="col-sm-12">
							<div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error': register.fname.$invalid && !register.fname.$pristine }">
                            <label>Твой родной форма 4</label>
                            <input type="email" class="form-control">
    						</div>
    						<label class="error" for="fname" ng-show="register.fname.$invalid && !register.fname.$pristine">У тебя нет имени? Сириусли? -__-</label>
						</div>
						<!-- 4 форма кнопки применения изменений-->
						<div class="col-sm-12">
						  <div class=" text-right">
	   						<button class="btn btn-primary btn-xs " data-target="#" data-toggle="">Применить изменения</button>
						  </div>
						</div>
					</div>
				</div>
<!-- КОНЕЦ 4 ТАБА -->
<!-- НАЧАЛО ПЯТОГО ТАБА -->
				<div class="tab-pane" id="tab5">
                    <div class="row">
                        <!-- первая форма 5 вкладки-->
                        <div class="col-sm-12">
							<div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error': register.fname.$invalid && !register.fname.$pristine }">
                            <label>Твой родной форма 5</label>
                            <input type="email" class="form-control">
    						</div>
    						<label class="error" for="fname" ng-show="register.fname.$invalid && !register.fname.$pristine">У тебя нет имени? Сириусли? -__-</label>
						</div>
						<!-- вторая форма 5 вкладки-->
						<div class="col-sm-12">
							<div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error': register.fname.$invalid && !register.fname.$pristine }">
                            <label>Твой родной форма 5</label>
                            <input type="email" class="form-control">
    						</div>
    						<label class="error" for="fname" ng-show="register.fname.$invalid && !register.fname.$pristine">У тебя нет имени? Сириусли? -__-</label>
						</div>
						
						<!-- 3 форма 5 вкладки-->
                        <div class="col-sm-12">
							<div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error': register.fname.$invalid && !register.fname.$pristine }">
                            <label>Твой родной форма 5</label>
                            <input type="email" class="form-control">
    						</div>
    						<label class="error" for="fname" ng-show="register.fname.$invalid && !register.fname.$pristine">У тебя нет имени? Сириусли? -__-</label>
						</div>
						<!-- 4 форма 5 вкладки-->
						<div class="col-sm-12">
							<div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error': register.fname.$invalid && !register.fname.$pristine }">
                            <label>Твой родной форма 5</label>
                            <input type="email" class="form-control">
    						</div>
    						<label class="error" for="fname" ng-show="register.fname.$invalid && !register.fname.$pristine">У тебя нет имени? Сириусли? -__-</label>
						</div>
						
						<!-- 5 форма 5 вкладки-->
                        <div class="col-sm-12">
							<div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error': register.fname.$invalid && !register.fname.$pristine }">
                            <label>Твой родной форма 5</label>
                            <input type="email" class="form-control">
    						</div>
    						<label class="error" for="fname" ng-show="register.fname.$invalid && !register.fname.$pristine">У тебя нет имени? Сириусли? -__-</label>
						</div>
						<!-- 6 форма 5 вкладки-->
						<div class="col-sm-12">
							<div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error': register.fname.$invalid && !register.fname.$pristine }">
                            <label>Твой родной форма 5</label>
                            <input type="email" class="form-control">
    						</div>
    						<label class="error" for="fname" ng-show="register.fname.$invalid && !register.fname.$pristine">У тебя нет имени? Сириусли? -__-</label>
						</div>
						<!-- 6 форма кнопки применения изменений-->
						<div class="col-sm-12">
						  <div class=" text-right">
	   						<button class="btn btn-primary btn-xs " data-target="#" data-toggle="">Применить изменения</button>
						  </div>
						</div>
					</div>
				</div>
<!-- КОНЕЦ ПЯТОГО ТАБА -->
<!-- НАЧАЛО ШЕСТОГО ТАБА -->
				<div class="tab-pane" id="tab6">
                    <div class="row">
                        <!-- первая форма шестой вкладки-->
                        <div class="col-sm-12">
							<div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error': register.fname.$invalid && !register.fname.$pristine }">
                            <label>Твой родной форма шесть</label>
                            <input type="email" class="form-control">
    						</div>
    						<label class="error" for="fname" ng-show="register.fname.$invalid && !register.fname.$pristine">У тебя нет имени? Сириусли? -__-</label>
						</div>
						<!-- вторая форма шестой вкладки-->
						<div class="col-sm-12">
							<div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error': register.fname.$invalid && !register.fname.$pristine }">
                            <label>Твой родной форма шесть</label>
                            <input type="email" class="form-control">
    						</div>
    						<label class="error" for="fname" ng-show="register.fname.$invalid && !register.fname.$pristine">У тебя нет имени? Сириусли? -__-</label>
						</div>
						<!-- 3 форма шестой вкладки-->
                        <div class="col-sm-12">
							<div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error': register.fname.$invalid && !register.fname.$pristine }">
                            <label>Твой родной форма шесть</label>
                            <input type="email" class="form-control">
    						</div>
    						<label class="error" for="fname" ng-show="register.fname.$invalid && !register.fname.$pristine">У тебя нет имени? Сириусли? -__-</label>
						</div>
						<!-- 4 форма шестой вкладки-->
						<div class="col-sm-12">
							<div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error': register.fname.$invalid && !register.fname.$pristine }">
                            <label>Твой родной форма шесть</label>
                            <input type="email" class="form-control">
    						</div>
    						<label class="error" for="fname" ng-show="register.fname.$invalid && !register.fname.$pristine">У тебя нет имени? Сириусли? -__-</label>
						</div>
						<!-- 5 форма шестой вкладки-->
                        <div class="col-sm-12">
							<div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error': register.fname.$invalid && !register.fname.$pristine }">
                            <label>Твой родной форма шесть</label>
                            <input type="email" class="form-control">
    						</div>
    						<label class="error" for="fname" ng-show="register.fname.$invalid && !register.fname.$pristine">У тебя нет имени? Сириусли? -__-</label>
						</div>
						<!-- 6 форма шестой вкладки-->
						<div class="col-sm-12">
							<div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error': register.fname.$invalid && !register.fname.$pristine }">
                            <label>Твой родной форма шесть</label>
                            <input type="email" class="form-control">
    						</div>
    						<label class="error" for="fname" ng-show="register.fname.$invalid && !register.fname.$pristine">У тебя нет имени? Сириусли? -__-</label>
						</div>
						<!-- 7 форма шестой вкладки-->
                        <div class="col-sm-12">
							<div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error': register.fname.$invalid && !register.fname.$pristine }">
                            <label>Твой родной форма шесть</label>
                            <input type="email" class="form-control">
    						</div>
    						<label class="error" for="fname" ng-show="register.fname.$invalid && !register.fname.$pristine">У тебя нет имени? Сириусли? -__-</label>
						</div>
						<!-- 8 форма шестой вкладки-->
						<div class="col-sm-12">
							<div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error': register.fname.$invalid && !register.fname.$pristine }">
                            <label>Твой родной форма шесть</label>
                            <input type="email" class="form-control">
    						</div>
    						<label class="error" for="fname" ng-show="register.fname.$invalid && !register.fname.$pristine">У тебя нет имени? Сириусли? -__-</label>
						</div>
						<!-- 9 форма шестой вкладки-->
                        <div class="col-sm-12">
							<div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error': register.fname.$invalid && !register.fname.$pristine }">
                            <label>Твой родной форма шесть</label>
                            <input type="email" class="form-control">
    						</div>
    						<label class="error" for="fname" ng-show="register.fname.$invalid && !register.fname.$pristine">У тебя нет имени? Сириусли? -__-</label>
						</div>
						<!-- 10 форма шестой вкладки-->
						<div class="col-sm-12">
							<div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error': register.fname.$invalid && !register.fname.$pristine }">
                            <label>Твой родной форма шесть</label>
                            <input type="email" class="form-control">
    						</div>
    						<label class="error" for="fname" ng-show="register.fname.$invalid && !register.fname.$pristine">У тебя нет имени? Сириусли? -__-</label>
						</div>
						<!-- 11 форма шестой вкладки-->
                        <div class="col-sm-12">
							<div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error': register.fname.$invalid && !register.fname.$pristine }">
                            <label>Твой родной форма шесть</label>
                            <input type="email" class="form-control">
    						</div>
    						<label class="error" for="fname" ng-show="register.fname.$invalid && !register.fname.$pristine">У тебя нет имени? Сириусли? -__-</label>
						</div>
						<!-- 12 форма шестой вкладки-->
						<div class="col-sm-12">
							<div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error': register.fname.$invalid && !register.fname.$pristine }">
                            <label>Твой 12 форма шесть</label>
                            <input type="email" class="form-control">
    						</div>
    						<label class="error" for="fname" ng-show="register.fname.$invalid && !register.fname.$pristine">У тебя нет имени? Сириусли? -__-</label>
						</div>
						<!-- 6 форма кнопки применения изменений-->
						<div class="col-sm-12">
						  <div class=" text-right">
	   						<button class="btn btn-primary btn-xs " data-target="#" data-toggle="">Применить изменения</button>
						  </div>
						</div>
					</div>
				</div>
<!-- КОНЕЦ ШЕСТОГО ТАБА -->
	 	</div>
	</div>

</div>