
<div class="modal fade fill-in" id="modalAccountRequest" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			
			<div class="modal-header">
				<!-- Для верстки см. документацию к Bootstrap (оформление заголовка хедера модального окна)-->
				<!-- http://getbootstrap.com/javascript/#modals -->
				<!-- http://getbootstrap.com/css/#grid -->
			</div>
			
			<div class="modal-body">
				
				<div class="register-container full-height sm-p-t-30">
					<div class="container-sm-height full-height">
						<div class="row row-sm-height">
							<div class="col-sm-12 col-sm-height col-middle">
								<h5 class="text-center p-b-5">Создай свой собственный Гдетус! Это очень просто! :)</h5>
								<p class="text-center">
									<small>
									Ты сможешь не только в реальном времени следить за мероприятиями, событиями, квестами,
									тусовками и вписками своих друзей и заведений города на карте, но и создавать свои собственные!
									</small>
								</p>
								<form id="form-register" class="p-t-15" role="form" name="registerForm" novalidate>
									<div class="row">
										<div class="col-sm-6">
											<div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error': registerForm.firstname.$invalid && !registerForm.firstname.$pristine }" required>
												<label>Твоё имя</label>
												<input type="text" name="firstname" placeholder="Дарт" class="form-control" ng-model="user.firstname" required>
											</div>
											<label class="error" for="fname" ng-show="registerForm.firstname.$invalid && !registerForm.firstname.$pristine">У тебя нет имени? Сириусли?</label>
										</div>
										<div class="col-sm-6">
											<div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error': registerForm.lastname.$invalid && !registerForm.lastname.$pristine }" required>
												<label>Твоя фамилия</label>
												<input type="text" name="lastname" placeholder="Вэйдер" class="form-control" ng-model="user.lastname" required>
											</div>
											<label class="error" for="lname" ng-show="registerForm.lastname.$invalid && !registerForm.lastname.$pristine">Как? У тебя нет фамилии? Совсем?  0.о</label>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12">
											<div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error': registerForm.useruri.$invalid && !registerForm.useruri.$pristine }">
												<label>Адрес твоей страницы</label>
												<input type="text" name="useruri" placeholder="например: dartvader (ты сможешь изменить этот адрес позже)" class="form-control" ng-model="user.useruri" >
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12">
											<div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error': registerForm.password.$invalid && !registerForm.password.$pristine }" required>
												<label>Твой пароль</label>
												<input type="password" name="password" placeholder="не менее 8 символов, включая буквы A-z, цифры и спецсимволы" class="form-control" ng-minlength="8" ng-model="user.password" required>
											</div>
											<label class="error" for="password" ng-show="registerForm.password.$invalid && !registerForm.password.$pristine">Нет пароля - нет регистрации. Такие дела.</label>
											<label class="error" for="password" ng-show="registerForm.password.$error.minlength">Не меньше ВОСЬМИ символов, Карл!</label>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12">
											<div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error': registerForm.email.$invalid && !registerForm.email.$pristine }" required>
												<label>Твоя почта</label>
												<input type="email" name="email" placeholder="мы вышлем тебе сверхсекретное послание ;))" class="form-control" ng-model="user.email" required>
											</div>
											<label class="error" for="email" ng-show="registerForm.email.$invalid && !registerForm.email.$pristine">Нужна действующая почта.</label>
										</div>
									</div>
									<div class="row m-t-10">
										<div class="col-md-7">
											<div class="checkbox check-primary">
												<input type="checkbox" value="1" id="checkboxAgreeTerms" name="checkboxAgreeTerms" ng-model="user.agreeterms" accreq-agree-terms/>
												<label for="checkboxAgreeTerms">Я прочитал <a href="http://gdetus.io/terms">правила</a> и согласен на всё! ;)</label>
											</div>
										</div>
										<div class="col-md-5 text-right">
											<a href="https://vk.com/im?media=&sel=-108146224" target= "blank" class="text-info small">Нужна помощь?</a>
										</div>
									</div>
									<button 
										class="btn btn-primary btn-cons m-t-10" 
										type="submit" 
										ng-disabled="registerForm.$invalid" 
										ng-click="onAccountRequestSendButtonClick(user, registerForm)">
										Создать аккаунт
									</button>
								</form>
							</div>
						</div>
					</div>
				</div>
				
			</div>
			
			<div class="modal-footer">
				<!-- Для верстки см. документацию к Bootstrap (оформление заголовка хедера модального окна)-->
				<!-- http://getbootstrap.com/javascript/#modals -->
				<!-- http://getbootstrap.com/css/#grid -->
			</div>
			
		</div>
	</div>
</div>



















